# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/compiler.xml
/encodings.xml
/jarRepositories.xml
/libraries/Maven__antlr_antlr_2_7_2.xml
/libraries/Maven__ch_ethz_ganymed_ganymed_ssh2_build210.xml
/libraries/Maven__classworlds_classworlds_1_1_alpha_2.xml
/libraries/Maven__commons_beanutils_commons_beanutils_1_9_2.xml
/libraries/Maven__commons_chain_commons_chain_1_1.xml
/libraries/Maven__commons_codec_commons_codec_1_6.xml
/libraries/Maven__commons_collections_commons_collections_3_1.xml
/libraries/Maven__commons_digester_commons_digester_1_8_1.xml
/libraries/Maven__commons_io_commons_io_2_2.xml
/libraries/Maven__commons_lang_commons_lang_2_6.xml
/libraries/Maven__commons_logging_commons_logging_1_2.xml
/libraries/Maven__commons_validator_commons_validator_1_6.xml
/libraries/Maven__dom4j_dom4j_1_1.xml
/libraries/Maven__junit_junit_4_11.xml
/libraries/Maven__org_apache_bcel_bcel_6_2.xml
/libraries/Maven__org_apache_commons_commons_lang3_3_5.xml
/libraries/Maven__org_apache_httpcomponents_httpclient_4_0_2.xml
/libraries/Maven__org_apache_httpcomponents_httpcore_4_0_1.xml
/libraries/Maven__org_apache_maven_doxia_doxia_core_1_8.xml
/libraries/Maven__org_apache_maven_doxia_doxia_decoration_model_1_8_1.xml
/libraries/Maven__org_apache_maven_doxia_doxia_integration_tools_1_8_1.xml
/libraries/Maven__org_apache_maven_doxia_doxia_logging_api_1_8.xml
/libraries/Maven__org_apache_maven_doxia_doxia_module_xhtml_1_8.xml
/libraries/Maven__org_apache_maven_doxia_doxia_sink_api_1_8.xml
/libraries/Maven__org_apache_maven_doxia_doxia_site_renderer_1_8_1.xml
/libraries/Maven__org_apache_maven_doxia_doxia_skin_model_1_8_1.xml
/libraries/Maven__org_apache_maven_maven_aether_provider_3_0.xml
/libraries/Maven__org_apache_maven_maven_artifact_3_0.xml
/libraries/Maven__org_apache_maven_maven_core_3_0.xml
/libraries/Maven__org_apache_maven_maven_model_3_0.xml
/libraries/Maven__org_apache_maven_maven_model_builder_3_0.xml
/libraries/Maven__org_apache_maven_maven_plugin_api_3_0.xml
/libraries/Maven__org_apache_maven_maven_repository_metadata_3_0.xml
/libraries/Maven__org_apache_maven_maven_settings_3_0.xml
/libraries/Maven__org_apache_maven_maven_settings_builder_3_0.xml
/libraries/Maven__org_apache_maven_plugins_maven_project_info_reports_plugin_maven_plugin_3_0_0.xml
/libraries/Maven__org_apache_maven_reporting_maven_reporting_api_3_0.xml
/libraries/Maven__org_apache_maven_reporting_maven_reporting_impl_3_0_0.xml
/libraries/Maven__org_apache_maven_scm_maven_scm_api_1_10_0.xml
/libraries/Maven__org_apache_maven_scm_maven_scm_manager_plexus_1_10_0.xml
/libraries/Maven__org_apache_maven_scm_maven_scm_provider_cvs_commons_1_10_0.xml
/libraries/Maven__org_apache_maven_scm_maven_scm_provider_cvsexe_1_10_0.xml
/libraries/Maven__org_apache_maven_scm_maven_scm_provider_cvsjava_1_10_0.xml
/libraries/Maven__org_apache_maven_scm_maven_scm_provider_git_commons_1_10_0.xml
/libraries/Maven__org_apache_maven_scm_maven_scm_provider_gitexe_1_10_0.xml
/libraries/Maven__org_apache_maven_scm_maven_scm_provider_hg_1_10_0.xml
/libraries/Maven__org_apache_maven_scm_maven_scm_provider_perforce_1_10_0.xml
/libraries/Maven__org_apache_maven_scm_maven_scm_provider_starteam_1_10_0.xml
/libraries/Maven__org_apache_maven_scm_maven_scm_provider_svn_commons_1_10_0.xml
/libraries/Maven__org_apache_maven_scm_maven_scm_provider_svnexe_1_10_0.xml
/libraries/Maven__org_apache_maven_shared_maven_artifact_transfer_0_9_1.xml
/libraries/Maven__org_apache_maven_shared_maven_common_artifact_filters_3_0_1.xml
/libraries/Maven__org_apache_maven_shared_maven_dependency_tree_2_2.xml
/libraries/Maven__org_apache_maven_shared_maven_shared_jar_1_2.xml
/libraries/Maven__org_apache_maven_shared_maven_shared_utils_3_2_0.xml
/libraries/Maven__org_apache_maven_wagon_wagon_http_lightweight_3_1_0.xml
/libraries/Maven__org_apache_maven_wagon_wagon_http_shared_3_1_0.xml
/libraries/Maven__org_apache_maven_wagon_wagon_provider_api_3_1_0.xml
/libraries/Maven__org_apache_struts_struts_core_1_3_8.xml
/libraries/Maven__org_apache_struts_struts_taglib_1_3_8.xml
/libraries/Maven__org_apache_struts_struts_tiles_1_3_8.xml
/libraries/Maven__org_apache_velocity_velocity_1_7.xml
/libraries/Maven__org_apache_velocity_velocity_tools_2_0.xml
/libraries/Maven__org_codehaus_plexus_plexus_classworlds_2_2_3.xml
/libraries/Maven__org_codehaus_plexus_plexus_component_annotations_1_5_5.xml
/libraries/Maven__org_codehaus_plexus_plexus_container_default_1_0_alpha_8.xml
/libraries/Maven__org_codehaus_plexus_plexus_digest_1_0.xml
/libraries/Maven__org_codehaus_plexus_plexus_i18n_1_0_beta_10.xml
/libraries/Maven__org_codehaus_plexus_plexus_interpolation_1_25.xml
/libraries/Maven__org_codehaus_plexus_plexus_utils_3_1_0.xml
/libraries/Maven__org_codehaus_plexus_plexus_velocity_1_2.xml
/libraries/Maven__org_eclipse_aether_aether_util_0_9_0_M2.xml
/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/libraries/Maven__org_jsoup_jsoup_1_11_2.xml
/libraries/Maven__org_netbeans_lib_cvsclient_20060125.xml
/libraries/Maven__org_slf4j_slf4j_api_1_7_5.xml
/libraries/Maven__org_sonatype_aether_aether_api_1_7.xml
/libraries/Maven__org_sonatype_aether_aether_impl_1_7.xml
/libraries/Maven__org_sonatype_aether_aether_spi_1_7.xml
/libraries/Maven__org_sonatype_aether_aether_util_1_7.xml
/libraries/Maven__org_sonatype_plexus_plexus_cipher_1_4.xml
/libraries/Maven__org_sonatype_plexus_plexus_sec_dispatcher_1_3.xml
/libraries/Maven__org_sonatype_sisu_sisu_guice_noaop_2_1_7.xml
/libraries/Maven__org_sonatype_sisu_sisu_inject_bean_1_4_2.xml
/libraries/Maven__org_sonatype_sisu_sisu_inject_plexus_1_4_2.xml
/libraries/Maven__oro_oro_2_0_8.xml
/libraries/Maven__sslext_sslext_1_2_0.xml
/misc.xml
/modules.xml
/vcs.xml
